<!DOCTYPE html>
{% extends "ASISupport_app/base.html" %}
{% load static %}

{% block head_block %}
	<title>Case</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{% static 'js/case.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/case.css' %}">
{% endblock %}

{% block body_block %}
	<section class="col-sm-1 col-sm-10 col-sm-1">
		{% if state == 'view' %}
			<form class="form-container" action="{% url 'ASISupport_app:view_case' case.case_num %}" method="POST">
				{% csrf_token %}

				<!-- case number -->

				<h1 class="inline_it">Case {{ case.case_num }}</h1>

				<div class="action_btn"><!-- visible when in view mode -->
					<button type="submit" name="edit_btn" class="btn btn-primary">Edit</button>
					<button type="submit" name="back_btn" class="btn btn-primary">Back</button>
				</div>

				<hr class="solid">

				<!-- case type -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="type">Type</label>
					</div>
					<select class="form-select select_bar" name="type" disabled>
						<option selected>{{ case.case_type }}</option>
					</select>
				</div>

				<!-- case status -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="status">Status</label>
					</div>
					<select class="form-select select_bar" name="status" disabled>
						<option selected>{{ case.status }}</option>
					</select>
				</div>

				<!-- projected completion date -->
				<div class="inline_it inline_spacing">
					<div>
						<label class="date_bar" for="projected_date">Projected Completion Date</label>
					</div>
					<input class="form-control datepicker date_bar" name="projected_date" type="date" value="{{ case.target_date|date:'Y-m-d' }}" disabled>
				</div>

				<!-- actual completion date -->
				<div class="inline_it inline_spacing last_row_object">
					<div>
						<label for="actual_date">Actual Completion Date</label>
					</div>
					<input class="form-control datepicker date_bar" name="actual_date" type="date" value="{{ case.actual_date|date:'Y-m-d' }}" disabled>
				</div>

				<hr class="solid">

				<!-- case manager -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="case_manager">Case Manager</label>
					</div>
					<input class="form-control text_bar" type="text" name="case_manager" value="{{ case.case_manager }}" disabled>
				</div>

				<!-- check machine down -->
				<div class="form-check inline_it inline_spacing machine_down_cb last_row_object">
					{% if case.machine_down %}
						<input type="checkbox" name="machine_down" checked disabled>
					{% else %}
						<input type="checkbox" name="machine_down" disabled>
					{% endif %}
					<label for="machine_down">Machine Down</label>
				</div>

				<hr class="solid">

				<!-- customer -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="customer">Customer</label>
					</div>
					<input class="form-control text_bar" type="text" name="customer" value="{{ case.customer }}" disabled>
				</div>

				<!-- customer contact -->
				<div class="inline_it inline_spacing last_row_object">
					<div>
						<label for="customer_contact">Customer Contact</label>
					</div>
					<input class="form-control text_bar" name="customer_contact" type="text" placeholder="Enter Name..." value="{{ case.customer_contact }}" disabled>
				</div>

				<hr class="solid">

				<!-- Equipment list -->
				<div>
					<label>Equipment</label>
					<div class="object_table">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Serial Number</th>
						    		<th scope="col">Part Number</th>
						    		<th scope="col">Description</th>
						    		<th scope="col">Installation Date</th>
						    		<th scope="col">Warranty Period</th>
						    	</tr>
							</thead>
							<tbody>
								{% for equip in equipment %}
										<tr>
											<td></td>
											<td>{{ equip.equip_sn }}</td>
											<td>{{ equip.equip_pn }}</td>
											<td>{{ equip.equip_description }}</td>
											<td>{{ equip.installation_date|date:'d/m/Y' }}</td>
											<td>{{ equip.warranty }}<label>months</label></td>
										</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<!-- case description -->
				<div class="form-group description_bar">
					<label for="case_description">Case Description</label>
					<textarea class="form-control" name="case_description" rows="3" disabled>{{ case.case_description }}</textarea>
				</div>

				<!-- visit list -->
				<div>
					<label>Visits</label>
					<div class="object_table">
						<table class="table table-hover">
							<thead>
								<tr>
						    		<th scope="col">Visit Number</th>
						    		<th scope="col">Visit Date</th>
						    	</tr>
							</thead>
							<tbody>
								{% for visit in visits %}
								<tr>
									<td><a href="{% url 'ASISupport_app:view_visit' visit.visit_num %}">{{ visit.visit_num }}</a></td>
									<td>{{ visit.visit_date|date:'d/m/Y' }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<a href="{% url 'ASISupport_app:new_visit' case.case_num %}" class="btn btn-primary btn-sm new_visit_btn">New Visit</a>
					</div>
				</div>

				<!-- save and cancel btns -->
				<div class="action_btn">
					<button type="submit" name="save_btn" class="btn btn-primary">Save</button>
				</div>
			</form>
		{% else %}
			<form class="form-container" action="{% url 'ASISupport_app:new_case' %}" method="POST">
				{% csrf_token %}

				<!-- case number -->
				<h1 class="inline_it">New Case</h1>

				<hr class="solid">

				<!-- case type -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="type">Type</label>
					</div>
					<select class="form-select select_bar" name="type">
						<option selected>Choose...</option>
						{% for val, name in types %}
							<option value="{{ val }}">{{ name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- case status -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="status">Status</label>
					</div>
					<select class="form-select select_bar" name="status">
						<option selected>Choose...</option>
					{% for val, name in statuses %}
						<option value="{{ val }}">{{ name }}</option>
					{% endfor %}
					</select>
				</div>

				<!-- projected completion date -->
				<div class="inline_it inline_spacing">
					<div>
						<label class="date_bar" for="projected_date">Projected Completion Date</label>
					</div>
					<input class="form-control datepicker date_bar" name="projected_date" type="date">
				</div>

				<!-- actual completion date -->
				<div class="inline_it inline_spacing last_row_object">
					<div>
						<label for="actual_date">Actual Completion Date</label>
					</div>
					<input class="form-control datepicker date_bar" name="actual_date" type="date">
				</div>

				<hr class="solid">

				<!-- case manager -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="case_manager">Case Manager</label>
					</div>
					<input class="form-control text_bar" type="text" name="case_manager" list="case_manager" placeholder="Choose...">
					<datalist id="case_manager">
						{% for employee in employees %}
							<option value="{{ employee }}">{{ employee }}</option>
						{% endfor %}
					</datalist>
				</div>

				<!-- check machine down -->
				<div class="form-check inline_it inline_spacing machine_down_cb last_row_object">
					<input type="checkbox" name="machine_down">
					<label for="machine_down">Machine Down</label>
				</div>

				<hr class="solid">

				<!-- customer -->
				<div class="inline_it inline_spacing">
					<div>
						<label for="customer">Customer</label>
					</div>
					<input class="form-control text_bar" type="text" name="customer" list="customer" placeholder="Choose...">
					<datalist id="customer">
						{% for customer in customers %}
							<option value="{{ customer }}">{{ customer }}</option>
						{% endfor %}
					</datalist>
				</div>

				<!-- customer contact -->
				<div class="inline_it inline_spacing last_row_object">
					<div>
						<label for="customer_contact">Customer Contact</label>
					</div>
					<input class="form-control text_bar" name="customer_contact" type="text" placeholder="Enter Name...">
				</div>

				<hr class="solid">

				<!-- Equipment list -->
				<div>
					<label>Equipment</label>
					<div class="object_table">
						<table class="table table-hover" id="equipment_tbl">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Serial Number</th>
						    		<th scope="col">Part Number</th>
						    		<th scope="col">Description</th>
						    		<th scope="col">Installation Date</th>
						    		<th scope="col">Warranty Period</th>
						    	</tr>
							</thead>
								<tbody>
									<tr>
										<td>
											<button onclick="deleteRow(this,'equipment_tbl')"  type="button" name="remove_btn" class="btn btn-primary add_or_del_btn">-</button>
										</td>
										<td>
											<input class="form-control text_bar" type="text" name="serial_number" list="serial_number" placeholder="Choose..." id="serial_number_1">
											<datalist id="serial_number">
												{% for equip in equip_sn_lst %}
												<option value="{{ equip }}"></option>
												{% endfor %}
											</datalist>
										</td>
										<td>
											<input class="form-control text_bar" type="text" name="part_number" list="part_number" placeholder="Choose..." id="part_number_1">
											<datalist id="part_number">
												{% for equip in equip_pn_lst %}
												<option value="{{ equip }}"></option>
												{% endfor %}
											</datalist>
										</td>
										<td>
											<input class="form-control text_bar" type="text" name="equip_description" list="equip_description" placeholder="Choose..." id="equip_description_1">
											<datalist id="equip_description">
												{% for equip in equip_description_lst %}
												<option value="{{ equip }}"></option>
												{% endfor %}
											</datalist>
										</td>
										<td>
											<input class="form-control datepicker" name="installation_date" type="date" id="installation_date_1">
										</td>
										<td>
											<input class="form-control inline_it" name="warranty" id="warranty_1" type="text">
											<label>months</label>
										</td>
									</tr>
									<tr>
										<td>
											<button onclick="addRow('equipment_tbl', {{ equip_sn_lst }}, {{ equip_pn_lst }}, {{ equip_description_lst }})" type="button" name="add_btn" class="btn btn-primary add_or_del_btn">+</button>
										</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
						</table>
					</div>
				</div>

				<!-- case description -->
				<div class="form-group description_bar">
					<label for="case_description">Case Description</label>
					<textarea class="form-control" name="case_description" rows="3"></textarea>
				</div>

				<!-- save and cancel btns -->
				<div class="action_btn">
					<button type="submit" name="save_btn" class="btn btn-primary">Save</button>
					<button type="submit" name="cancel_btn" class="btn btn-primary">Cancel</button>
				</div>
			</form>
		{% endif %}
	</section>
{% endblock %}