<!DOCTYPE html>
{% extends "ASISupport_app/base.html" %}
{% load static %}

{% block head_block %}
	<title>Username</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body_block %}
	<section class="col-sm-3 col-sm-6 col-sm-3">
		<form class="form-container" action="{% url 'ASISupport_app:dashboard' %}" method="POST">
			{% csrf_token %}

			<!-- welcome header -->
			<div class="welcome">
				<h1 class="inline_it">Welcome Username</h1>
				<img src="/static/images/ASI_logo.jpg"/>
			</div>

			<hr class="solid">

			<!-- navigation buttons -->
			<div class="action_btn">
				<button type="submit" class="btn btn-primary">New Case</button>
				<button type="submit" class="btn btn-primary not_first">Reports</button>
			</div>

			<hr class="solid">

				<!-- filter case -->
				<div class="inline_it search_bar">
					<div class="input-group">
						<input type="search" class="form-control" placeholder="Search Case..." aria-lable="Search"/>
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</div>
				<!-- filter visit -->
				<div class="inline_it search_bar not_first">
					<div class="input-group">
						<input type="search" class="form-control" placeholder="Search Visit..." aria-lable="Search"/>
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</div>

				<!-- case info table -->
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Case Number</th>
				    		<th scope="col">Creation Date</th>
				    		<th scope="col">Type</th>
				    		<th scope="col">Status</th>
				    		<th scope="col">Customer</th>
				    		<th scope="col">Assignee</th>
				    	</tr>
					</thead>
					<tbody>
						<tr>
							<td>12345</td>
							<td>01/01/2021</td>
							<td>Support</td>
							<td>Open</td>
							<td>IBM</td>
							<td>Elton John</td>
						</tr>
						<tr>
							<td>12345</td>
							<td>01/01/2021</td>
							<td>Support</td>
							<td>Open</td>
							<td>IBM</td>
							<td>Elton John</td>
						</tr>
						<tr>
							<td>12345</td>
							<td>01/01/2021</td>
							<td>Support</td>
							<td>Open</td>
							<td>IBM</td>
							<td>Elton John</td>
						</tr>
						<tr>
							<td>12345</td>
							<td>01/01/2021</td>
							<td>Support</td>
							<td>Open</td>
							<td>IBM</td>
							<td>Elton John</td>
						</tr>
					</tbody>
				</table>
		</form>
	</section>
{% endblock %}