<!DOCTYPE html>
{% extends "ASISupport_app/base.html" %}
{% load static %}

{% block head_block %}
	<title>Username</title>
	<script src="{% static 'js/dashboard.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body_block %}
	<section class="col-sm-1 col-sm-10 col-sm-1">
		<form class="form-container" action="{% url 'ASISupport_app:dashboard' %}" method="POST">
			{% csrf_token %}

			<!-- welcome header -->
			<div class="welcome">
				<h1 class="inline_it">Welcome {{request.user.get_full_name}}</h1>
				<img src="/static/images/ASI_logo.jpg"/>
			</div>
			<div class="roles">
				<small>Role: {% if groups %} {{ groups|join:", " }} {% else %} None {% endif %}</small>
			</div>

			<hr class="solid">

			<!-- navigation buttons -->
			<div>
				{% if permit_new_case %}
					<a href="{% url 'ASISupport_app:new_case' %}" class="btn btn-primary">New Case</a>
				{% endif %}
				<a href="{% url 'ASISupport_app:report' %}" class="btn btn-primary not_first">Reports</a>
			</div>

			<hr class="solid">

				<!-- filter case -->
				<div class="inline_it search_bar">
					<div class="input-group">
						<input type="search" name="search_case" class="form-control" placeholder="Search Case..." aria-lable="Search" value="{{ search_case_value|default_if_none:'' }}" />
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" name="search_case_btn">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</div>

				<!-- case info table -->
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Case Number</th>
				    		<th scope="col">Creation Date</th>
				    		<th scope="col">Type</th>
				    		<th scope="col">Status</th>
				    		<th scope="col">Customer</th>
				    		<th scope="col">Assignee</th>
				    	</tr>
					</thead>
					<tbody>
						{% for case in cases %}
						<tr id="{{ case.case_num }}">
							<script>
								ifMachineDown({{ case.case_num }}, {{ case.machine_down|yesno:'true,false' }});
							</script>
							<td><a href="{% url 'ASISupport_app:view_case' case.case_num %}">{{ case.case_num }}</a></td>
							<td>{{ case.create_date|date:'d/m/Y' }}</td>
							<td>{{ case.case_type }}</td>
							<td>{{ case.status }}</td>
							<td>{{ case.customer }}</td>
							<td>{{ case.case_manager }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

		</form>
	</section>
{% endblock %}