<!DOCTYPE html>
{% extends "ASISupport_app/base.html" %}
{% load static %}

{% block head_block %}
	<title>ASI Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
	<section class="col-12 col-sm-6 col-md-3">
		<form class="form-container" action="{% url 'ASISupport_app:login' %}" method="POST">
			{% csrf_token %}
			<h2 align="center">Welcome to ASI</h2>
			<h4 align="center">Please login</h4>
			<div class="form-group">
		    	<label for="email"><b>Email:</b></label>
		    	<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
		  	</div>
		  	<div class="form-group">
		    	<label for="password"><b>Password:</b></label>
		    	<input type="password" class="form-control" id="password" placeholder="Enter Password">
		  	</div>
		  <button type="submit" class="btn btn-primary btn-block">Submit</button>
		</form>
	</section>
	<!-- temp navigation bar -->
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a class="navbar-link" href="{% url 'ASISupport_app:dashboard' %}">Dashboard</a></li>
				<li><a class="navbar-link" href="{% url 'ASISupport_app:case' %}">View Case</a></li>
				<li><a class="navbar-link" href="{% url 'ASISupport_app:visit' %}">View Visit</a></li>
			</ul>
		</div>
{% endblock %}