<!DOCTYPE html>
{% extends "ASISupport_app/base.html" %}
{% load static %}

{% block head_block %}
	<title>Report</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
{% endblock %}

{% block body_block %}
	<section class="col-sm-1 col-sm-10 col-sm-1">
		<form class="form-container" action="{% url 'ASISupport_app:report' %}" method="POST">
			{% csrf_token %}

			<!-- header -->
			<h1 class="inline_it">Reports</h1>

			<div class="action_btn">
				<button type="submit" name="back_btn" class="btn btn-primary">Back</button>
			</div>

			<hr class="solid">

			<!-- search case report -->
			<div>
				<h3>Case Report</h3>

				<!-- filter case -->
				<div class="inline_it search_bar">
					<label>Case</label>
					<input type="search" name="search_case_case" class="form-control" placeholder="Search..." aria-lable="Search" />
				</div>
				<div class="inline_it search_bar">
					<label>From Date (included)</label>
					<input class="form-control datepicker date_bar" name="search_case_from_date" type="date">
				</div>
				<div class="inline_it search_bar">
					<label>To date (not included)</label>
					<input class="form-control datepicker date_bar" name="search_case_to_date" type="date">
				</div>
				<div class="inline_it search_bar">
					<div>
						<label>Type</label>
					</div>
					<select class="form-select select_bar" name="search_case_type">
						<option value="" selected>Search...</option>
						{% for val, name in types %}
							<option value="{{ val }}">{{ name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="inline_it search_bar">
					<div>
						<label>Status</label>
					</div>
					<select class="form-select select_bar" name="search_case_status">
						<option value="" selected>Search...</option>
					{% for val, name in statuses %}
						<option value="{{ val }}">{{ name }}</option>
					{% endfor %}
					</select>
				</div>
				<div class="inline_it search_bar">
					<label>Case Manager</label>
					<input class="form-control text_bar" type="text" name="search_case_case_manager" list="case_manager" placeholder="Search...">
					<datalist id="case_manager">
						{% for employee in employees %}
							<option value="{{ employee }}">{{ employee }}</option>
						{% endfor %}
					</datalist>
				</div>
				<div class="inline_it search_bar">
					<label>Customer</label>
					<input class="form-control text_bar" type="text" name="search_case_customer" list="customer" placeholder="Search...">
					<datalist id="customer">
						{% for customer in customers %}
							<option value="{{ customer }}">{{ customer }}</option>
						{% endfor %}
					</datalist>
				</div>
				<div class="inline_it search_bar">
					<div>
						<label>Machine Down</label>
					</div>
					<select class="form-select select_bar" name="search_case_machine_down">
						<option value="" selected>All</option>
						<option value="True">True</option>
						<option value="False">False</option>
					</select>
				</div>

				<button class="btn btn-default" type="submit" name="case_report_search_btn">
					<i class="glyphicon glyphicon-search"></i>
				</button>
				
				{% if cases %}
					<!-- case info table -->
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Case Number</th>
					    		<th scope="col">Creation Date</th>
					    		<th scope="col">Type</th>
					    		<th scope="col">Status</th>
					    		<th scope="col">Case Manager</th>
					    		<th scope="col">Customer</th>
					    		<th scope="col">Machine Down</th>
					    	</tr>
						</thead>
						<tbody>
							{% for case in cases %}
							<tr>
								<td><a href="{% url 'ASISupport_app:view_case' case.case_num %}">{{ case.case_num }}</a></td>
								<td>{{ case.create_date|date:'d/m/Y' }}</td>
								<td>{{ case.case_type }}</td>
								<td>{{ case.status }}</td>
								<td>{{ case.case_manager }}</td>
								<td>{{ case.customer }}</td>
								<td>{{ case.machine_down }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

				<div>
					<button class="btn" name="case_report_export_to_excel_btn"><i class="fa fa-download"></i></button>
				</div>
				{% endif %}
			</div>
			

			<h3>Visit Report</h3>

			<h3>Equipment Report</h3>


		</form>
	</section>
{% endblock %}