.form-container{
	margin: 0px 60px 0px;
}

.select_bar{
	width: 160px;
	height: 35px;
}

.date_bar{
	width: 160px;
}

.inline_spacing{
	margin: 14px 0px;
	padding: 0px 0px 0px 40px;
}

.last_row_object{
	padding-right: 40px;	
}

.text_bar{
	width: 160px;
}

.machine_down_cb{
	color: red;
}

.object_table{
	border: 1px solid gray;
	padding: 20px;
	width: 100%;
}

.description_bar{
	margin: 15px 0px 15px 0px;
}

.action_btn{
	float: right;
	margin-top: 12px;
}

.action_btn button{
	width: 100px;
	margin: 5px;
}

.new_visit_btn{
	width: 100px;
	background-color: gray;
	border-color: gray;
	padding: 3px;
}

tr td:last-child input{
    width: 65px;
}

tr td:last-child label{
    color: gray;
}

select:disabled {
  background: #dddddd;
}

td label{
	padding-left: 3px;
}