.welcome img{
	width: 13%;
	height: 13%;
	float: right;
}

.roles{
 	font-size: 12px;
}

.search_bar{
	width: 200px;
}

.not_first{
	margin-left: 10px;
}

a:link {
	width: 100px;
}

.machine_down{
	background-color: #FFA07A;
}