.action_btn{
	float: right;
	margin-top: 20px;
}

.action_btn button{
	width: 100px;
	margin: 5px;
}

.search_bar {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

.date_bar{
	width: 160px;
}

.select_bar{
	width: 160px;
	height: 35px;
}

small{
	color: red;
}

#case_report_filter{
	margin-bottom: 20px;
	margin-top: 20px;
}
