.action_btn{
	float: right;
	margin-top: 20px;
}

.action_btn button{
	width: 100px;
	margin: 5px;
}

.search_bar {
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 5px;
	width: 160px;
}

.date_bar{
	width: 160px;
}

.select_bar{
	width: 160px;
	height: 35px;
}

small{
	color: red;
}

#case_report_filter, #visit_report_filter, #equip_report_filter{
	padding-bottom: 20px;
}

#case_report, #visit_report, #Equipment_report{
	margin: 20px;
}

.dataTables_wrapper .dt-buttons {
  float:right;
}

#clear_btn{
	border: none;
	background: none;
	outline: none;
}

#clear_btn small{
	color: blue;
}

.hide_col{
	display:none
}

.panel-heading{
	width: 1060px;
}
