body {
	background-image: url('/static/images/Background1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.form-container{
	position: absolute;
	top: 15vh;
	margin: 0px 60px 0px;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 0px #191970;
}

hr.solid {
  border-top: 1px solid gray;
}

.inline_it{
	display: inline-block;
}

.text_bar{
	width: 160px;
}

.int_bar{
	width: 80px;
}

.not_first{
	margin-left: 40px;
}

.add_or_del_btn {
  background-color: white;
  color: gray;
  border: 2px solid gray;
  height: 30px;
  width: 30px;
  padding: 3px;
}

.action_btn{
	float: right;
	margin-top: 12px;
}

.action_btn button{
	width: 100px;
	margin: 5px;
}

.remote_cb{
	color: green;
	padding-left: 40px;
}

.charge_cb{
	color: orange;
	margin-top: 6px;
	/*padding-left: 40px;*/
}

.spacing{
	padding-top: 20px;
}

.parts_lst{
	border: 1px solid gray;
	padding: 20px;
	width: 100%;
}

.description_bar{
	margin: 15px 0px 15px 0px;
}