.form-container{
	margin: 0px 60px 0px;
}

.inline_spacing{
	margin: 14px 0px;
	padding: 0px 0px 0px 40px;
}

.text_bar{
	width: 160px;
}

.select_bar{
	width: 160px;
	height: 35px;
}

.int_bar{
	width: 80px;
}

.action_btn{
	float: right;
	margin-top: 20px;
}

.action_btn button{
	width: 100px;
	margin: 5px;
}

.remote_cb{
	color: green;
}

.charge_cb{
	color: orange;
	margin-top: 7px;
	/*padding-left: 40px;*/
}

.add_row_cb{
	margin-left: 3px;
}

.spacing{
	padding-top: 20px;
}

.parts_lst{
	border: 1px solid gray;
	padding: 20px;
	width: 100%;
}

.description_bar{
	margin: 15px 0px 15px 0px;
}

select:disabled {
  background: #dddddd;
}